# Ficheros
*/work
*/__pycache__
modelo/scripts/__pycache__

# JSON files
*.json

*.DS_Store

*.sqlite3

*.joblib

/work/optuna_artifacts/
# Permitir ciertos archivos en optuna_artifacts
!/work/optuna_artifacts/*.pkl
!/work/optuna_artifacts/*.db
!/work/optuna_artifacts/*.sqlite3
